---
import { HeroText } from "@components/HeroText";
import { Brand } from "../components/Brand";
import { ReactComponent } from "../components/ReactComponent";
import Layout from "../layouts/Layout.astro";
import { ScrollSmootherWrapper } from "@components/ScrollSmoother";
---

<Layout>
  <div style={{ position: "fixed" }}>
    <Brand client:only />
  </div>
  <ScrollSmootherWrapper client:only>
    <div class="frame">
      <div class="hero-text">
        <HeroText client:only />
      </div>
      <div class="hero">hi</div><div>Regular Text</div>
    </div>
    <!-- <div data-lag="0.5">lol</div> -->
    <ReactComponent client:load />
    {Array.from(Array(100).keys()).map((n) => <div>{n}</div>)}
  </ScrollSmootherWrapper>
</Layout>
<style>
  .frame {
    height: 100vh;
    width: 100vw;
    position: relative;
  }

  .hero-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
</style>
